# Final publish location for module build
pkg/

# VIM files
*.swp

# Mac files
.DS_Store

# Generated directory for coverage results
coverage/

# Gem & bundler related files we do not want persisted to the repository
Gemfile.lock
.bundle
vendor/

# Used by rake spec, for temp modules and other test requirements
spec/fixtures/

# RVM files that are specific to developers implementation
.ruby-version
.ruby-gemset

# Add Jetbrains RubyMine .idea folder
.idea/

# Beaker files
log/
.vagrant/
junit/
